:root {
	--content-width: 600px;
}

body {
	display: flex;
	justify-content: center;
	letter-spacing: 0.55px;
	line-height: 1.5;
}

h1 {
	padding-top: 20px;
}

a {
	text-decoration-line: none;
}

.light {
	background-color: #f2f2f1;

	a {
		background-color: #dbe7ce;
		color: #2a4635;
	}
}

#main {
	font-family: 'Noto Serif', serif;
	max-width: var(--content-width);
}

.konami {
	appearance: none;
	background: none;
	border: none;
	color: inherit;
	font: inherit;
	padding: 0;
	cursor: pointer;
}

.dark {
	background-color: #302d2c;
	color: #caccc5;

	h1 {
		color: #caccc5;
	}

	a {
		background-color: #3c4f44;
		color: #caccc5;
	}

	#party-procession {
		img {
			filter: invert(88%) sepia(3%) saturate(373%) hue-rotate(36deg) brightness(93%) contrast(93%);
		}
	}
}


.wavy {
	animation-name: wavy;
	animation-duration: 1.1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	position: relative;
	top: 0;
	left: 0;
}

@keyframes wavy {
	0% {
		top: 0px;
	}

	50% {
		top: -15px;
	}

	100% {
		top: 0px;
	}
}

#party-procession {
	position: relative
}

.marquee {
	position: absolute;
	animation-name: marquee;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes marquee {
	from {
		left: 0%;
	}

	to {
		left: 90%;
	}
}

.floating-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: inherit;
	color: white;
	border: none;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-size: 24px;
	cursor: pointer;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.icon {
	padding-top: 3px;
	padding-left: 2px;
}