body {
	background-color: #ebebe4;
	/* display: flex; */
	justify-content: center;
}

h1 {
	padding-top: 20px;
}

#main {
	font-family: 'Noto Serif', serif;
	max-width: 600px;
}

a {
	background-color: #dbe7ce;
	text-decoration-line: none;
	color: #2a4635;
}